@charset "UTF-8";
* {
  font-family: "Gantari";
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

button {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
}

input {
  border-radius: 25px;
  background-color: #C9C9C9;
  color: white;
  padding: 5px;
  padding-left: 10px;
  border: none;
}

input::placeholder {
  color: white;
  margin-left: 5px;
}

nav {
  position: absolute;
  z-index: 2;
}

footer {
  margin: 10px;
  text-align: center;
  color: #838383;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  flex: 1;
  height: auto;
  text-align: center;
}

* {
  font-family: "Gantari";
}

.article__landing {
  width: 100%;
  height: 100%;
}

.article__content {
  margin-top: 50px;
}

.div__caracteristica {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}
.div__caracteristica div {
  max-width: 200px;
}
.div__caracteristica img {
  width: 25%;
  height: 25%;
}

.article__empezar {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 30%;
}
.article__empezar button {
  margin-bottom: 15px;
}

.header__passwords nav {
  display: inline-flex;
  width: 100%;
  height: 20%;
  padding: 10px 20px 0 20px;
  justify-content: space-between;
}
.header__passwords nav a img {
  display: block;
  height: 25%;
  max-width: 280px;
  max-height: 150px;
}

.main__passwords section {
  margin-top: 15%;
  text-align: center;
}
.main__passwords section input {
  width: 75%;
}
.main__passwords section article {
  margin-bottom: 5%;
}
.main__passwords section article div {
  margin: auto;
  background-color: #2D2D2D;
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
}
.main__passwords section article div img {
  float: left;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  margin: auto;
}
.main__passwords section article div div {
  margin-left: 15px;
  float: right;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  color: white;
}
.main__passwords section article div div h3 {
  font-size: 20px;
}
.main__passwords section article div div p {
  font-size: 16px;
  color: #9C9C9C;
}

.section__add img {
  z-index: 3;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

.header__password nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  z-index: 3;
}
.header__password nav a {
  padding: 10px;
}
.header__password nav a img {
  width: 25%;
  height: 100%;
  max-width: 150px;
  display: block;
}

.main__password {
  text-align: center;
}
.main__password section article {
  width: 75%;
  margin: auto;
  margin-bottom: 7%;
  background-color: #2D2D2D;
  border-radius: 25px;
  color: white;
}
.main__password section article div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}
.main__password section article div img {
  border-radius: 20px;
  background-color: #C8C8C8;
  min-width: 35px;
  min-width: 35px;
  width: 20%;
  height: 20%;
}
.main__password section article div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 75%;
}
.main__password section article div div p:first-of-type {
  color: #9C9C9C;
}
.main__password section article div div a {
  color: #137FED;
}
.main__password section article hr {
  width: 75%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.p__password {
  font-size: 2em;
  letter-spacing: 5px;
  line-height: 50%;
}
