main{
    display: flex;
    
    flex-direction: column;
    
}

// section{
//     display: inline-flex;
//     flex-direction: column;
// }

article{
    flex:1;
    height: auto;
    
    text-align: center;
}
