main{
    display: flex;
    
    flex-direction: column;
    
}
article{
    flex:1;
    height: auto;
    
    text-align: center;
}

article{
    flex:1;
    height: auto;
    
    text-align: center;
}
