.article__landing{
    background-image: url("img/landing/image.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.article__content{
    margin-top: 50px;
}

.div__caracteristica{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.div__caracteristica div{
    max-width: 200px;
}

.article__empezar{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 30%;
}