*{
    font-family: "Gantari";
}
.article__landing{
    width: 100%;
    height: 100%;
}
.article__content{
    margin-top: 50px;
}

.div__caracteristica{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.div__caracteristica div{
    max-width: 200px;
}

.div__caracteristica img{
    width: 25%;
    height: 25%; 
}

.article__empezar{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 30%;
    button{
        margin-bottom: 15px;
    }
}