.header__passwords{
    nav {
        display: inline-flex;
        width: 100%;
        height: 20%;
        padding: 10px 20px 0 20px;
        justify-content: space-between;
        a {
            img {
            display: block;
            height: 25%;
            max-width: 280px;
            max-height: 150px;
            }
        }
    }
}
.main__passwords{
    section{
        margin-top: 15%;
        text-align: center;
        input{
            width: 75%;   
        }
        article{
            margin-bottom: 5%;
            
            div{
                margin:auto;
                background-color: #2D2D2D;
                width: 75%;
                display: flex;
                justify-content: center;
                padding:5px;
                border-radius: 20px;
                img{
                    float: left;
                    border-radius: 20px;
                    width: 60px;
                    height: 60px;
                    margin: auto;
                }
                div {
                    margin-left:15px;
                    float:right;
                    text-align: left;
                    
                    display: inline-flex;
                    flex-direction: column;
                    color:white;
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                        color: #9C9C9C;
                    }
                }
            }
        }
    }
}

.section__add{
    img{
        z-index: 3;
        bottom:20px;
        right: 20px;
        position: fixed;
    }
}