.header__password{
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: static;
        z-index: 3;
        a{
            padding: 10px;
            img{
                width: 25%;
                height: 100%;
                max-width: 150px;
                display: block;
            }
        }
    }
}
.main__password{
    text-align: center;
    section{
        article{
            width: 75%;
            margin: auto;
            margin-bottom: 7%;
            background-color: #2D2D2D;
            border-radius: 25px;
            color: white;
            div{
                display: flex;
                flex-direction: row;
                padding: 10px;
                align-items: center;
                img{
                    border-radius: 20px ;
                    background-color: #C8C8C8;
                    
                    min-width: 35px;
                    min-width: 35px;
                    width: 20%;
                    height: 20%;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: left;
                    width: 75%;
                    p{
                        
                        &:first-of-type{
                            color: #9C9C9C;

                        }
                    }
                    a{
                        color:#137FED;
                    }
                }
            }
            hr{
                width: 75%;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}
.p__password{
    font-size: 2em;
    letter-spacing: 5px;
    line-height: 50%;
}