/* Un reset CSS moderno (basado en Andy Bell/Elad Shechter) */
*,
*::before,
*::after {
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho/alto del elemento */
}

/* Elimina el margen predeterminado del body */
body {
  margin: 0;
  line-height: 1.5; /* Mejora la legibilidad */
  -webkit-font-smoothing: antialiased; /* Mejora el renderizado de fuentes en WebKit */
}

/* Manejo de elementos multimedia para que sean responsive por defecto */
img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Elimina márgenes en elementos comunes (h1, p, ul, etc.) */
p, h1, h2, h3, h4, h5, h6, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

/* Elimina los estilos de lista predeterminados para ul y ol con un rol de lista explícito */
ul[role='list'], ol[role='list'] {
  list-style: none;
}

/* Asegura que la herencia de fuentes sea consistente para los elementos de formulario y código */
input, button, textarea, select {
  font: inherit;
}

/* Aislamiento de texto para mejorar la renderización */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Establece un contexto de apilamiento para el elemento raíz */
#root, #__next {
  isolation: isolate;
}
