//Este es el color del fondo de la pagina
$primary-color:#FFE9E9;

//Los colores para los botones
$button-color:#000000;
$button-text-color: #FFFFFF;

*{
    font-family: "Gantari";
}
h2{
    font-size: 32px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 16px;
}